.Home {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1001px) {
  .Home {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

.photoContainer {
  display: flex;
  flex-direction: column;
}

.poster {
  height: 50vh;
  background-position: 0 0;
}
@media screen and (min-width: 501px) {
  .poster {
    height: 70vh;
  }
}
@media screen and (min-width: 1001px) {
  .poster {
    width: 70vh;
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.socialLinks svg {
  width: 1.5rem;
  height: 1.5rem;
}

.aboutMe {
  flex: 1;
}
@media screen and (min-width: 1001px) {
  .aboutMe {
    margin-right: 2rem;
  }
}

.aboutMe p {
  line-height: 1.5rem;
}
