.Home {
  text-align: center;

  @media screen and (min-width: 1001px) {
    text-align: left;
  }

  h1 {
    font-size: 2rem;

    @media screen and (min-width: 1001px) {
      font-weight: normal;
      font-size: 2.5rem;
      margin-top: 0;
    }
  }

  p {
    line-height: 2rem;
    max-width: 1000px;
    font-size: 1rem !important;
    letter-spacing: 1px;
    font-weight: 100;
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.qualificationSection {
  @media screen and (min-width: 950px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  ul {
    list-style-type: none;

    @media screen and (min-width: 950px) {
      list-style-type: square;
    }
  }

  article {
    padding: 3rem;
  }
}
