.Home {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1001px) {
  .Home {
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
  }
}

.photoContainer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1001px) {
  .photoContainer {
    flex: 1;
  }
}

.poster {
  height: 50vh;
  background-position: 0 0;
}
@media screen and (min-width: 501px) {
  .poster {
    height: 70vh;
  }
}
@media screen and (min-width: 1001px) {
  .poster {
    width: 40vw;
    align-self: center;
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.socialLinks svg {
  width: 1.5rem;
  height: 1.5rem;
}

.socialLinks svg:hover {
  transform: scale(1.5, 1.5);
  transition: transform 300ms;
  fill: var(--color-highlight);
}

.aboutMe {
  flex: 1;
  font-size: 1rem !important;
}
@media screen and (min-width: 1001px) {
  .aboutMe {
    flex: 1;
  }
}

.aboutMe h1 {
}
@media screen and (min-width: 1001px) {
  .aboutMe h1 {
    font-size: 2rem;
    margin-top: 0;
  }
}

.aboutMe p {
  line-height: 2rem;
  letter-spacing: 1px;
}
