.PosterQuote {
  height: 30vh;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-shadow: 1px 1px 5px var(--color-bg);
}

.PosterQuote.enlarged {
  height: 70vh;
  justify-content: flex-end;
  background-position: top;
}

.PosterQuote > * {
  margin: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.PosterQuote h3 button {
  padding: 0;
}

.PosterQuote iframe {
  border: none;
}
