$GR: 1.62;
$breakpoint_small: 950px;
$breakpoint_med: 1200px;
$breakpoint_large: 1500px;
$breakpoint_xlarge: 2000px;

.Project {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1rem;
  padding: 1rem;
  min-height: 250px;
  border: 1px solid var(--color-bg-2);

  @media screen and (min-width: $breakpoint_small) {
    flex-direction: row;
    padding: 2rem;
  }

  @media screen and (min-width: $breakpoint_med) {
    min-height: 350px;
  }

  @media screen and (min-width: $breakpoint_large) {
    min-height: 350px;
  }

  @media screen and (min-width: $breakpoint_xlarge) {
    width: 700px;
    height: 430px;
  }
}

.monolith {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: small;
  margin-bottom: 1rem;

  @media screen and (min-width: $breakpoint_small) {
    order: 3;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 3rem;
  }

  h3 {
    @media screen and (min-width: $breakpoint_small) {
      transform: rotate(90deg);
      white-space: nowrap;
    }
  }
}

.details {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $breakpoint_small) {
    flex: 1;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: small;
    line-height: normal;
  }
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  color: #000080;
  margin-top: 1rem;

  & > * {
    font-size: small;
    margin: 2px;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;

  svg {
    width: 12px;
    fill: var(--color-text);
    height: 12px;
  }

  a {
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    margin: 2px;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: small;

    &:hover {
      background-color: var(--color-bg-2);
    }
  }
}

.demoView {
  margin-top: 1rem;
  transition: background-image 1s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center !important;
  min-height: 150px;

  @media screen and (min-width: $breakpoint_small) {
    margin-left: 1rem;
    flex: 1;
  }
}
