.Project {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-bg-2);
}

@media screen and (min-width: 900px) {
  .Project {
    margin: 1rem;
    display: grid;
    grid-template-columns: [c0] auto [c1] 3rem [c2];
    grid-template-rows: [r0] auto [r1] 50vh [r2];
  }
}

@media screen and (min-width: 1100px) {
  .Project {
    display: flex;
    flex-direction: row;
  }
}

.monolith {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin: 0;
  font-weight: bold;
  letter-spacing: 5px;
}

@media screen and (min-width: 900px) {
  .monolith {
    grid-row-start: r0;
    grid-row-end: r2;
    grid-column-start: c1;
    grid-column-end: c2;
    height: inherit;
  }

  .monolith h3 {
    transform: rotate(90deg);
    white-space: nowrap;
  }
}

@media screen and (min-width: 1100px) {
  .monolith {
    order: 3;
    width: 3rem;
  }
}

.details {
  background-color: var(--color-bg-1);
  color: var(--color-text);
  padding: var(--gap-h);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .details {
    grid-row-start: r0;
    grid-row-end: r1;
    min-height: 50vh;
    padding: var(--gap-1);
    grid-column-start: c0;
    grid-column-end: c1;
  }
}

@media screen and (min-width: 1100px) {
  .details {
    min-height: unset;
    flex: 2;
  }

  .Project.inverted .details {
    order: 2;
  }
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  color: #000080;
}

.technologies > * {
  margin-right: var(--gap-0);
  margin-top: var(--gap-0);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}

@media screen and (min-width: 1100px) {
  .links {
    margin-top: 4rem;
  }
}

.links svg {
  width: 1rem;
  fill: var(--color-text);
  height: 1rem;
}

.links a {
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  margin: 5px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 13px;
}

.links a:hover {
  background-color: var(--color-bg-2);
}

.photoSlider {
  height: 40vh;
  transition: background-image 1s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center !important;
}

@media screen and (min-width: 900px) {
  .photoSlider {
    border: 3rem solid transparent !important;
    grid-row-start: r1;
    grid-row-end: r2;
    grid-column-start: c0;
    grid-column-end: c1;
  }
}

@media screen and (min-width: 1100px) {
  .photoSlider {
    height: unset;
    flex: 3;
  }
}
