.AppHeader {
  color: gray;
  box-shadow: 0 0 5px #5f9ea0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 40px 5px 40px;
}

.AppHeader .myName {
  flex: 1;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.AppHeader .socialLink {
}

.AppHeader .socialLink img {
  height: 20px;
  margin: 0 5px 0 5px;
  display: inline;
}
