.Projects {
  display: flex;
  flex-direction: column;
}

.Projects > * {
  margin-bottom: var(--gap-1);
}

.techFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.techFilters > * {
  margin: 1rem;
}
