.Projects {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    padding-left: 25vw;
  }
}

.filterPanel {
  display: none;

  @media screen and (min-width: 1000px) {
    display: block;
    top: var(--header-height);
    flex: 1;
    z-index: unset;
    width: 25vw;
    left: 0;
    height: calc(100vh - var(--header-height));
    position: fixed;
    padding: var(--gap-1);
    overflow-y: auto;
  }
}

.filterPanelMobileOpener {
  padding: var(--gap-0);
  align-self: flex-start;

  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.filterPanelMobile {
  width: 80vw;
  height: 80vh;
  background-color: unset !important;
  overflow-y: auto;
}

.projectList {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    flex: 3;
    overflow-y: auto;
  }

  & > * {
    margin-top: 1rem;
  }
}

.filterDesc {
  text-align: center;
  padding: 1rem;
  color: var(--color-highlight);
}
