$ms_lower_bound: 900px;

$breakpoint_large: 1500px;
$breakpoint_xlarge: 2000px;

.Projects {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $ms_lower_bound) {
    flex-direction: row;
  }
}

.filterPanel {
  display: none;

  @media screen and (min-width: $ms_lower_bound) {
    display: block;
    top: var(--header-height);
    // flex: 1;
    z-index: unset;
    width: 20vw;
    left: 0;
    height: calc(100vh - var(--header-height));
    position: sticky;
    padding: var(--gap-1);
    overflow-y: auto;
  }
}

.projectList {
  display: flex;
  flex-direction: column;

  & > *:nth-child(even) {
    background-color: var(--color-bg-2);
    margin-top: 2rem;
  }

  @media screen and (min-width: $ms_lower_bound) {
    flex: 1;
    overflow-y: auto;
  }

  @media screen and (min-width: $breakpoint_large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > *:nth-child(even) {
      background-color: inherit;
      margin-top: unset;
    }
  }

  @media screen and (min-width: $breakpoint_xlarge) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
