.Projects {
  display: flex;
  flex-direction: column;
}

.Projects > * {
  margin-bottom: var(--gap-1);
}

.techFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: var(--header-height);
  background-color: var(--color-bg);
  z-index: var(--z-index-highest);
}
@media screen and (max-width: 600px) {
  .techFilters {
    position: unset;
    z-index: unset;
  }
}

.techFilters > * {
  font-size: 1rem;
  padding: 1rem;
  text-transform: none;
}

.techFilters > *:hover {
  cursor: pointer;
  background-color: white;
}

.techFilters .active {
  background-color: white;
}
