.ProjectFilterPanel {
  background-color: var(--color-bg-1);
}

.titlebar h2 {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: small;
  align-items: flex-start;

  span {
    color: var(--color-highlight);
  }
}

.clearFilterButton {
  text-transform: none;
  font-size: x-small;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 1px solid gray;
  color: gray;
  border-radius: 10px;

  svg {
    width: 10px;
    height: 10px;
    fill: gray;
  }
}

.filterList {
  display: flex;
  flex-direction: column;

  & > * {
    font-size: small;
    margin-bottom: 8px;
  }
}
