.App {
  overflow: hidden;
}

.App .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App .navDesktop {
  width: 300px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  align-items: center;
}

.App .navDesktop a {
  cursor: pointer;
  width: 150px;
  margin: 5px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.App .navDesktop a:hover {
  background-color: lightgray;
}

.App .navDesktop .active {
  background: teal;
  color: white;
}

.App .contentDesktop {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 30px;
  font-family: monospace;
  overflow: auto;
  height: 90vh;
}

.App .notices {
  width: 400px;
}

.App .mobile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .mobile nav{
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  width: 100%;
  box-shadow: 0 2px 1px lightgray;
  justify-content: center;
}

.App .mobile a{
  margin: 10px;
  color: gray;
  font-size: small;
  text-transform: uppercase;
  overflow: auto;
}

.App .mobile main{
  width: 100%;
  padding: 15px;
}

.App .mobile .active {
  font-weight: bold;
  color: teal;
}
