.ProfessionalCard{
  display: flex;
  height: 300px;
}

.ProfessionalCard:hover {
  box-shadow: 0 0 10px lightgray;
}

.ProfessionalCard .photo{
  border: 1px solid gray;
  height: 100%;
}

.ProfessionalCard .data {
  display: flex;
  margin: 30px 20px 30px 20px;
  flex-direction: column;
}

.ProfessionalCard .data h1{
  margin: 0;
  margin-bottom: 20px;
  font-family: "Comfortaa"
}

.ProfessionalCard .data h4{
  margin: 0;
  font-weight: normal;
  margin-top: 10px;
}
