.ProfessionalCard{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ProfessionalCard:hover {
  box-shadow: 0 0 10px lightgray;
}

.ProfessionalCard .photo{
  border: 1px solid gray;
  width: 100%;
}

.ProfessionalCard .data {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 30px;
  bottom: 0;
  flex-direction: column;
}

.ProfessionalCard .data-mobile {
  font-size: small;
}

.ProfessionalCard .data h1{
  margin: 0;
  margin-bottom: 20px;
  font-family: "Comfortaa"
}

.ProfessionalCard .data h4{
  margin: 0;
  font-weight: normal;
  margin-top: 10px;
}
