.EducationRecord {
  display: grid;
  grid-template-rows: 1.5rem repeat(4, auto) 1.5rem;
  grid-template-columns: 30% auto;
  font-size: small;

  & > * {
    padding-left: 1rem;
    text-align: left;
  }

  a {
    padding: 0.5rem;
    padding-left: 1rem;
  }
}

.dateRange {
  grid-row: 1 / 7;
  align-items: flex-end !important;
  padding-right: 1rem;
  text-align: right;
}
