.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-2);
}

.Header nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 860px) {
  .Header nav {
    width: 100%;
    flex-direction: column;
  }
}

.Header nav a {
  margin-left: var(--gap-1);
  margin-right: var(--gap-1);
}
@media screen and (max-width: 860px) {
  .Header nav a {
    margin: 0;
    margin-top: var(--gap-1);
    display: none;
  }
}

.Header nav .active {
  color: var(--color-highlight);
}
