.JobExperienceRecord {
  display: grid;
  grid-template-rows: 1.5rem repeat(4, auto) 1.5rem;
  grid-template-columns: 30% auto;
  font-size: small;
}

.dateRange {
  grid-row: 1 / 7;
  align-items: flex-end !important;
  padding-right: 1rem;
}

.JobExperienceRecord > * {
  padding: 0;
  padding-left: 1rem;
  padding-bottom: 10px;
  text-align: left;
}

.JobExperienceRecord a {
  color: var(--color-highlight);
}
