.Loader {
  width: 2rem;
  height: 2rem;

  &.centerized {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 5rem;
    height: 5rem;
  }
}
