.PhotoSlider {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px;
  position: relative;
}

.poster {
  flex: 1;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
