.PhotoSlider {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  position: relative;
}

.poster {
  flex: 1;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
