.Project {
  display: flex;
  flex-direction: column;
  border-radius: 15px !important;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .Project {
    display: grid;
    grid-template-columns: [c0] auto [c1] 3rem [c2];
    grid-template-rows: [r0] auto [r1] 50vh [r2];
  }
}
@media screen and (min-width: 1100px) {
  .Project {
    display: flex;
    flex-direction: row;
  }
}

.Project.inverted {
}

.monolith {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  text-transform: capitalize;
  margin: 0;
}
@media screen and (min-width: 900px) {
  .monolith {
    grid-row-start: r0;
    grid-row-end: r2;
    grid-column-start: c1;
    grid-column-end: c2;
    height: inherit;
  }
  .monolith h3 {
    transform: rotate(90deg);
    white-space: nowrap;
  }
}
@media screen and (min-width: 1100px) {
  .monolith {
    order: 3;
    width: 3rem;
  }
}

.details {
  background-color: var(--color-invert);
  color: var(--color-bg);
  padding: var(--gap-1);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .details {
    grid-row-start: r0;
    grid-row-end: r1;
    grid-column-start: c0;
    grid-column-end: c1;
  }
}
@media screen and (min-width: 1100px) {
  .details {
    min-height: unset;
    flex: 2;
  }
  .Project.inverted .details {
    order: 2;
  }
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  color: #000080;
}
@media screen and (min-width: 1100px) {
  .technologies {
  }
}

.technologies > * {
  margin-right: var(--gap-0);
  margin-top: var(--gap-0);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  justify-content: center;
}

.links svg {
  fill: #004477;
  width: 1.5rem;
  height: 1.5rem;
}

.links a {
  padding: 0;
  padding-right: 1rem;
}

.links a:hover {
  transform: scale(1.4, 1.4);
  transition: transform 300ms;
}

.photoSlider {
  height: 50vh;
  border: 1rem solid var(--color-invert) !important;
}
@media screen and (min-width: 900px) {
  .photoSlider {
    grid-row-start: r1;
    grid-row-end: r2;
    grid-column-start: c0;
    grid-column-end: c1;
  }
}
@media screen and (min-width: 1100px) {
  .photoSlider {
    height: unset;
    flex: 3;
  }
}
