.NoticeBoard {
  height: 90vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.NoticeBoard .notice {
  margin: 10px;
  text-align: center;
  position: relative;
}

.NoticeBoard h3 {
  text-align: center;
}

.NoticeBoard .noticeContent{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}
