.Resume {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 766px) {
  .Resume {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
  }
}

.Resume a {
  background-color: greenyellow;
  color: var(--color-bg);
  margin-bottom: var(--gap-1);
}

.content {
  min-height: 80vh;
}
@media screen and (min-width: 766px) {
  .content {
    width: 60vw;
    margin-right: var(--gap-1);
  }
}
