.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 80vw;
  min-height: 80vh;
}

.Resume button {
  padding: 0.5rem;
}

.Resume button.active {
  color: var(--color-bg-1);
  background-color: var(--color-text);
}

.Resume nav {
  padding: 1rem;
  border-radius: 2px;
  overflow: hidden;
}

.Resume iframe {
  max-width: 23cm;
}
